.section {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    margin: auto;
    font-family: 'sans-serif';
    font-weight: 400;
    font-size: 18px;
    line-height: 5px;
    letter-spacing: 0.08em;
    text-align: center;
}